:root {

    --cor001:#0c0c0c;
    --cor002:#975578;
    --cor003:#ef9c54; 
    
    --font-h1:400 32px/1.5 "Fjalla One", sans-serif;
    --font-p:400 20px/1.5 "Fira Sans", sans-serif;
  }

/*imagem, responsividade do Cabeçalho superior e Inferior*/

@media (max-width: 460px) {
.superior {

    background: url(imagens/gta6.jpg) top/cover no-repeat fixed;
   
    padding: 0px;
    width: 100%;
    height: 300px;
    margin: auto;
    color: rgb(255, 255, 255);
}
/*configuração interna do cabeçalho superior*/
 nav {
    background-color: #0c0c0c;
    padding: 15px;
    margin: 0px;
    border-radius: 0px;
 }
/*tudo que esta dentro do cabeçalho superior*/
.container {
    display: flex;
    align-items: center;
    justify-content: left;
}
.title {
    margin-right: 5em;
    font:400 19px/1.5 "Fjalla One", sans-serif;
    color: #b3973b;
}
.logo {
   display: none;
}

.contato {
    display: table-column;
    margin-right: 0px;
}

.superior img{
    margin-right: 0%;
}

.contato img:hover {
    background-color: 10px 10px 30px rgb(122, 24, 24);
    height: 35px;
    width: 35px ;
    transition-duration: 0.5s;
}

/*configuração do cabeçalho inferior*/
nav.inf {
    background-color: #272727;
    margin-top: -8px;
    border-radius: 0px 0px 8px 8px ;
    text-align: center;
}
nav.inf a {
    padding: 10px;
    text-decoration: none;
    color: #975578;
    font-weight: bolder;
}
nav.inf a:hover {
    padding: 10px;
    background-color: #975578;
    color: white;
    border-radius: 3px;
    transition-duration: 0.5s;
}

/*quebra dos conteúdos*/

.quebrainicio {
    background-color: #975578;
    width: 100%;
    height: 15px;
}
.quebra {
    background-color: #975578;
    width: 100%;
    height: 15px;
    margin-top: 45px;
}
/*configuração geral de todos os conteudos do site (com responsividade)*/
.conteudo {
    margin-top: 50px;
    width: 100%;
}

/*os dois seletores abaixo serao copiados como base pra outros conteudos da pagina, ajuste o TOP DA DIV T para configurar o video de acordo com sua posição na pagina.*/

.containervideo {
    background-color: #975578;
    display: flexbox;
    margin: auto;
    position: relative;
    top:50% ;
    left:0% ;
    height:30vh;
    width:94%;

    margin-bottom: 20px;
}
.t1 > iframe.gta6{
    position: absolute;
    top:50%;
    left: 6%;
    width: 87%;
    height:200px;
}
.info {
    background-image: linear-gradient(#975578, #ffa768);

    border-radius: 10px;
    margin: auto;
    height: 65vh;
    width: 92%;
    text-align: center;
    color: white;
}
.containervideo2 {
    background-color: #975578;
    margin: auto;
    position: relative;
    top:10% ;
    left:0% ;
    height:30vh;
    width:94%;
    margin-bottom: 20px;

}
.t2 > iframe.ds2 {
    position: absolute;
    top: 160%;
    left: 6%;
    width: 87%;
    height:200px;
    
}
.info2 {
    background-image: linear-gradient(#8d0c0c, #db5b11);
    border-radius: 8px;
    margin:  auto;
    height: 65vh;
    width: 92%;

    text-align: center;
    color: white;
}
.containervideo3 {
    background-color: #975578;
    margin: auto;
    position: relative;
    top:10% ;
    left:0% ;
    height:30vh;
    width:94%;


}
.t3 > iframe.wolwerine {
    position: absolute;
    top: 309.5%;
    left: 5%;
    width: 90%;
    height:28%;
}
.info3 {
    background-image: linear-gradient(#000000, #ff974d);
    border-radius: 8px;
    
    margin:  auto;
    
    height: 85vh;
    width: 92%;

    text-align: center;
    color: white;
}
.containervideo4 {
    background-color: #975578;
    margin: auto;
    position: relative;
    top:10% ;
    left:0% ;
    height:30vh;
    width:94%;

}
.t4 > iframe.blade {
    position: absolute;
    top: 415.5%;
    left: 5%;
    width: 90%;
    height:28%;
    
}
.info4 {
    background-image: linear-gradient(rgb(71, 7, 7), #0a0101);
    border-radius: 8px;
    
    margin:  auto;
    
    height: 85vh;
    width: 92%;

    text-align: center;
    color: white;
}
.containervideo5 {
    background-color: #975578;
    margin: auto;
    position: relative;
    top:10% ;
    left:0% ;
    height:30vh;
    width:94%;

}
.t5 > iframe.dragon {
    position: absolute;
    top: 877.4%;
    left: 5%;
    width: 90%;
    height:28%;
}
.info5 {
    background-image: linear-gradient(#3f0e28, #fcacff);
    border-radius: 8px;
    
    margin:  auto;
    
    height: 85vh;
    width: 92%;

    text-align: center;
    color: white;
}
.plataformas p {
    padding: 5px;
    margin: 0px;
}
.containervideo6 {
    background-color: #975578;
    margin: auto;
    position: relative;
    top:10% ;
    left:0% ;
    height:30vh;
    width:94%;


}
.t6 > iframe.monster {
    position: absolute;
    top: 1079.2%;
    left: 5%;
    width: 90%;
    height:28%;
}
.info6 {
    background-image: linear-gradient(#93cfdf, #ef9c54);
    border-radius: 8px;
    
    margin:  auto;
    
    height: 85vh;
    width: 92%;

    text-align: center;
    color: white;
}
.containervideo7 {
    background-color: #975578;
    margin: auto;
    position: relative;
    top:10% ;
    left:0% ;
    height:30vh;
    width:94%;

}
.t7 > iframe.judas {
    position: absolute;
    top: 1281%;
    left: 5%;
    width: 90%;
    height:28%;
    
}
.info7 {
    background-image: linear-gradient(#5f1006, #39be5a);
    border-radius: 8px;
    
    margin:  auto;
    
    height: 85vh;
    width: 92%;

    text-align: center;
    color: white;
}
.containervideo8 {
    background-color: #975578;
    margin: auto;
    position: relative;
    top:10% ;
    left:0% ;
    height:30vh;
    width:94%;


}
.t8 > iframe.marathon {
    position: absolute;
    top: 1483%;
    left: 5%;
    width: 90%;
    height:28%; 
}
.info8 {
    background-image: linear-gradient(#72d7f3, #9ff58a);
    border-radius: 8px;
    
    margin:  auto;
    
    height: 85vh;
    width: 92%;

    text-align: center;
    color: white;
}
.containervideo9 {
    background-color: #975578;
    margin: auto;
    position: relative;
    top:10% ;
    left:0% ;
    height:30vh;
    width:94%;


}
.t9 > iframe.instiction {
    position: absolute;
    top: 1684.6%;
    left: 5%;
    width: 90%;
    height:28%;
    
}
.info9 {
    background-image: linear-gradient(#2b2b2b, #000000);
    border-radius: 8px;
    
    margin:  auto;
    
    height: 85vh;
    width: 92%;

    text-align: center;
    color: white;
}
.containervideo10 {
    background-color: #975578;
    margin: auto;
    position: relative;
    top:10% ;
    left:0% ;
    height:30vh;
    width:94%;

}
.t10 > iframe.sinking {
    position: absolute;
    top: 1886.5%;
    left: 5%;
    width: 90%;
    height:28%;
}
.info10 {
    background-image: linear-gradient(#c7c7c7, #20303a);
    border-radius: 8px;
    
    margin:  auto;
    
    height: 85vh;
    width: 92%;

    text-align: center;
    color: white;
}
.containervideo11 {
    background-color: #975578;
    margin: auto;
    position: relative;
    top:10% ;
    left:0% ;
    height:30vh;
    width:94%;

}
.t11 > iframe.fatal {
    position: absolute;
    top: 2088.5%;
    left: 5%;
    width: 90%;
    height:28%;
    
}
.info11 {
    background-image: linear-gradient(#ec6627, #2f2e9b);
    border-radius: 8px;
    
    margin:  auto;
    
    height: 85vh;
    width: 92%;

    text-align: center;
    color: white;
}
.containervideo12 {
    background-color: #975578;
    margin: auto;
    position: relative;
    top:10% ;
    left:0% ;
    height:30vh;
    width:94%;

}
.t12 > iframe.lis {
    position: absolute;
    top: 2290.2%;
    left: 5%;
    width: 90%;
    height:28%;
}
.info12 {
    background-image: linear-gradient(#6760ce, #b6b5b5);
    border-radius: 8px;
    
    margin:  auto;
    
    height: 85vh;
    width: 92%;

    text-align: center;
    color: white;
}
.info h1, h2, .info2 h1, h2, .info3 h1, h2, .info4 h1, h2, .info5 h1, h2, .info6 h1, h2, .info7 h1, h2, .info8 h1, h2, .info8 h1, h2, .info9 h1, h2, .info10 h1, h2, .info11 h1, h2, .info12 h1, h2 {
    font: var(--font-h1);
    margin: 0px;
    padding-top: 10px;
    text-shadow: #0c0c0c 3px 3px 5px;
}
.info p, .info2 p, .info3 p, .info4 p, .info5 p, .info6 p, .info7 p, .info8 p, .info8 p, .info9 p, .info p, .info11 p, .info12 p {
    font:var(--font-p);
    text-shadow: #0c0c0c 3px 3px 5px;
    padding-bottom: 0px;
    margin: 3px;
}
.plataformas {
    padding: 0px;
}
.jogo img {
    height: 25vh;
    width: 80%; 
}

.jogo img:hover {
    height: 27vh;
    width: 87%;
    box-shadow: 5px 5px 10px #00000091;
    cursor: pointer;
    transition-duration: 0.3s;
}

}
