:root {

    --cor001: #0c0c0c;
    --cor002: #975578;
    --cor003: #ef9c54;

    --font-h1: 400 32px/1.5 "Fjalla One", sans-serif;
    --font-p: 400 20px/1.5 "Fira Sans", sans-serif;
}

/*imagem, responsividade do Cabeçalho superior e Inferior*/

@media (min-width: 320px) and (max-width:720px) {
    .superior {

        background: url(imagens/gta6.jpg) top/cover no-repeat fixed;

        padding: 0px;
        width: 100%;
        height: 300px;
        margin: auto;
        color: rgb(255, 255, 255);
    }

    /*configuração interna do cabeçalho superior*/
    nav {
        background-color: #0c0c0c;
        padding: 15px;
        margin: 0px;
        border-radius: 0px;
    }

    /*tudo que esta dentro do cabeçalho superior*/
    .container {
        display: flex;
        align-items: center;
        justify-content: left;
    }

    .title {
        margin-right: 3em;
        font: 400 19px/1.5 "Fjalla One", sans-serif;
        color: #b3973b;
    }

    .logo {
        display: none;
    }

    .contato {
        display: table-column;
        margin-right: 0px;
    }

    .superior img {
        margin-right: 0%;
    }

    .contato img:hover {
        height: 45px;
        width: 45px;
        transition-duration: 0.5s;
    }

    /*configuração do cabeçalho inferior*/
    nav.inf {
        background-color: #272727;
        margin-top: -8px;
        border-radius: 0px 0px 8px 8px;
        text-align: center;
    }

    nav.inf a {
        padding: 5px;
        text-decoration: none;
        color: #975578;
        font: var(--font-p);
    }

    nav.inf a:hover {
        padding: 10px;
        background-color: #975578;
        color: white;
        border-radius: 6px;
        transition-duration: 0.5s;
    }

    /*quebra dos conteúdos*/

    .quebrainicio {
        background-color: #975578;
        width: 100%;
        height: 15px;
    }

    .quebra {
        background-color: #975578;
        width: 100%;
        height: 15px;
        margin-top: 45px;
        margin-bottom: 45px;
    }

    /*configuração geral de todos os conteudos do site (com responsividade)*/
    .conteudo {
        margin-top: 50px;
        width: 100%;
    }

    /*os dois seletores abaixo serao copiados como base pra outros conteudos da pagina, ajuste o TOP DA DIV T para configurar o video de acordo com sua posição na pagina.*/


    .t1>iframe.gta6 {
        position: relative;
        top: 50%;
        left: 5%;
        width: 90%;
        height: 200px;

        margin-bottom: 10px;
    }

    .info {
        background-image: linear-gradient(#975578, #ffa768);

        border-radius: 10px;
        margin: auto;
        height: 65vh;
        width: 92%;
        text-align: center;
        color: white;
    }

    .t2>iframe.ds2 {
        position: relative;
        top: 50%;
        left: 5%;
        width: 90%;
        height: 200px;

        margin-bottom: 10px;
    }

    .info2 {
        background-image: linear-gradient(#8d0c0c, #db5b11);
        border-radius: 8px;
        margin: auto;
        height: 65vh;
        width: 92%;

        text-align: center;
        color: white;
    }

    .t3>iframe.wolwerine {
        position: relative;
        top: 50%;
        left: 5%;
        width: 90%;
        height: 200px;

        margin-bottom: 10px;
    }

    .info3 {
        background-image: linear-gradient(#000000, #ff974d);
        border-radius: 8px;

        margin: auto;

        height: 65vh;
        width: 92%;

        text-align: center;
        color: white;
    }

    .t4>iframe.blade {
        position: relative;
        top: 50%;
        left: 5%;
        width: 90%;
        height: 200px;

        margin-bottom: 10px;
    }

    .info4 {
        background-image: linear-gradient(rgb(71, 7, 7), #0a0101);
        border-radius: 8px;

        margin: auto;

        height: 65vh;
        width: 92%;

        text-align: center;
        color: white;
    }

    .t5>iframe.dragon {
        position: relative;
        top: 50%;
        left: 5%;
        width: 90%;
        height: 200px;

        margin-bottom: 10px;
    }

    .info5 {
        background-image: linear-gradient(#3f0e28, #fcacff);
        border-radius: 8px;

        margin: auto;

        height: 65vh;
        width: 92%;

        text-align: center;
        color: white;
    }

    .plataformas p {
        padding: 5px;
        margin: 0px;
    }

    .t6>iframe.monster {
        position: relative;
        top: 50%;
        left: 5%;
        width: 90%;
        height: 200px;

        margin-bottom: 10px;
    }

    .info6 {
        background-image: linear-gradient(#93cfdf, #ef9c54);
        border-radius: 8px;

        margin: auto;

        height: 65vh;
        width: 92%;

        text-align: center;
        color: white;
    }

    .t7>iframe.judas {
        position: relative;
        top: 50%;
        left: 5%;
        width: 90%;
        height: 200px;

        margin-bottom: 10px;
    }

    .info7 {
        background-image: linear-gradient(#5f1006, #39be5a);
        border-radius: 8px;

        margin: auto;

        height: 65vh;
        width: 92%;

        text-align: center;
        color: white;
    }

    .t8>iframe.marathon {
        position: relative;
        top: 50%;
        left: 5%;
        width: 90%;
        height: 200px;

        margin-bottom: 10px;
    }

    .info8 {
        background-image: linear-gradient(#72d7f3, #9ff58a);
        border-radius: 8px;

        margin: auto;

        height: 65vh;
        width: 92%;

        text-align: center;
        color: white;
    }

    .t9>iframe.instiction {
        position: relative;
        top: 50%;
        left: 5%;
        width: 90%;
        height: 200px;

        margin-bottom: 10px;
    }

    .info9 {
        background-image: linear-gradient(#2b2b2b, #000000);
        border-radius: 8px;

        margin: auto;

        height: 65vh;
        width: 92%;

        text-align: center;
        color: white;
    }

    .t10>iframe.sinking {
        position: relative;
        top: 50%;
        left: 5%;
        width: 90%;
        height: 200px;

        margin-bottom: 10px;
    }

    .info10 {
        background-image: linear-gradient(#c7c7c7, #20303a);
        border-radius: 8px;

        margin: auto;

        height: 65vh;
        width: 92%;

        text-align: center;
        color: white;
    }

    .t11>iframe.fatal {
        position: relative;
        top: 50%;
        left: 5%;
        width: 90%;
        height: 200px;

        margin-bottom: 10px;
    }

    .info11 {
        background-image: linear-gradient(#ec6627, #2f2e9b);
        border-radius: 8px;

        margin: auto;

        height: 65vh;
        width: 92%;

        text-align: center;
        color: white;
    }

    .t12>iframe.lis {
        position: relative;
        top: 50%;
        left: 5%;
        width: 90%;
        height: 200px;

        margin-bottom: 10px;
    }

    .info12 {
        background-image: linear-gradient(#6760ce, #b6b5b5);
        border-radius: 8px;

        margin: auto;

        height: 71vh;
        width: 92%;

        text-align: center;
        color: white;
    }

    .extra {
        background-image: linear-gradient(rgb(100, 17, 17), rgb(65, 5, 5));
        text-align: center;
        width: 90%;
        border-radius: 10px 0px 10px 0px;
        padding: 5px;
        margin: auto;
    }

    .extra>p,
    h1 {
        text-shadow: 3px 3px 3px black;
        margin-bottom: 2px;
        color: white;
    }

    .t13>iframe.zelda {
        position: relative;
        top: 50%;
        left: 5%;
        width: 90%;
        height: 200px;

        margin-bottom: 10px;
    }

    .info13 {
        background-image: linear-gradient(#70B7E0, #571277);
        border-radius: 8px;
        margin: auto;
        height: 73vh;
        width: 92%;
        text-align: center;
        color: white;
    }

    .t14>iframe.pokemon {
        position: relative;
        top: 50%;
        left: 5%;
        width: 90%;
        height: 200px;

        margin-bottom: 10px;
    }

    .info14 {
        background-image: linear-gradient(#0b092e, #1ab67a);
        border-radius: 8px;
        margin: auto;
        height: 66vh;
        width: 92%;
        text-align: center;
        color: white;
    }

    .t15>iframe.ml {
        position: relative;
        top: 50%;
        left: 5%;
        width: 90%;
        height: 200px;

        margin-bottom: 10px;
    }

    .info15 {
        background-image: linear-gradient(#7aabeb, #58dd8f);
        border-radius: 8px;
        margin: auto;
        height: 66vh;
        width: 92%;
        text-align: center;
        color: white;
    }

    .t16>iframe.mparty {
        position: relative;
        top: 50%;
        left: 5%;
        width: 90%;
        height: 200px;

        margin-bottom: 10px;
    }

    .info16 {
        background-image: linear-gradient(#ccce60, #ffffff);
        border-radius: 8px;
        margin: auto;
        height: 66vh;
        width: 92%;
        text-align: center;
        color: white;
    }

    .t17>iframe.sonic {
        position: relative;
        top: 50%;
        left: 5%;
        width: 90%;
        height: 200px;

        margin-bottom: 10px;
    }

    .info17 {
        background-image: linear-gradient(#231b9b, #8f1818);
        border-radius: 8px;
        margin: auto;
        height: 72vh;
        width: 92%;
        text-align: center;
        color: white;
    }

    .t18>iframe.ln3 {
        position: relative;
        top: 50%;
        left: 5%;
        width: 90%;
        height: 200px;

        margin-bottom: 10px;
    }

    .info18 {
        background-image: linear-gradient(#ceab60, #b6b5b5);
        border-radius: 8px;
        margin: auto;
        height: 65vh;
        width: 92%;
        text-align: center;
        color: white;
    }



    .info h1,
    h2,
    .info2 h1,
    h2,
    .info3 h1,
    h2,
    .info4 h1,
    h2,
    .info5 h1,
    h2,
    .info6 h1,
    h2,
    .info7 h1,
    h2,
    .info8 h1,
    h2,
    .info8 h1,
    h2,
    .info9 h1,
    h2,
    .info10 h1,
    h2,
    .info11 h1,
    h2,
    .info12 h1,
    h2,
    .extra h1,
    .info13 h1,
    h2,
    .info14 h1,
    h2,
    .info15 h1,
    h2,
    .info16 h1,
    h2,
    .info17 h1,
    h2,
    .info18 h1,
    h2 {
        font: var(--font-h1);
        margin: 0px;
        padding-top: 10px;
        text-shadow: #0c0c0c 3px 3px 5px;
    }

    .info p,
    .info2 p,
    .info3 p,
    .info4 p,
    .info5 p,
    .info6 p,
    .info7 p,
    .info8 p,
    .info8 p,
    .info9 p,
    .info10 p,
    .info11 p,
    .info12 p,
    .extra p,
    .info13 p,
    .info14 p,
    .info15 p,
    .info16 p,
    .info17 p,
    .info18 p {
        font: var(--font-p);
        text-shadow: #0c0c0c 3px 3px 5px;
        margin: 3px;
    }

    .plataformas {
        padding: 0px;
    }

    .jogo img {
        height: 25vh;
        width: 80%;
    }

    .jogo img:hover {
        height: 27vh;
        width: 87%;
        box-shadow: 5px 5px 10px #00000091;
        cursor: pointer;
        transition-duration: 0.3s;
    }

}

/*TABLETS*/
@media (min-width: 720px) and (max-width:1200px) {
    .superior {
        background: url(imagens/gta6.jpg) top/cover no-repeat;

        padding: 0px;
        width: 100%;
        height: 300px;
        margin: auto;
        color: rgb(255, 255, 255);
    }

    /*configuração interna do cabeçalho superior*/
    nav {
        background-color: #0c0c0c;
        padding: 15px;
        margin: 0px;
        border-radius: 0px;
    }

    /*tudo que esta dentro do cabeçalho superior*/
    .container {
        display: flex;
        align-items: center;
        justify-content: left;
    }

    .title {
        margin-right: 24vw;
        font: var(--font-h1);
        color: #b3973b;
    }

    .logo {
        height: 32px;
        width: 32px;
        margin-right: 24vw;
    }

    .contato {
        display: flex;
    }

    .contato img:hover {
        background-color: 10px 10px 30px rgb(122, 24, 24);
        height: 35px;
        width: 35px;
        transition-duration: 0.5s;
    }

    /*configuração do cabeçalho inferior*/
    nav.inf {
        background-color: #272727;
        margin-top: -8px;
        border-radius: 0px 0px 8px 8px;
        text-align: center;
    }

    nav.inf a {
        padding: 20px;
        text-decoration: none;
        color: #975578;
        font: var(--font-p);
    }

    nav.inf a:hover {
        padding: 10px;
        background-color: #975578;
        color: white;
        border-radius: 3px;
        transition-duration: 0.5s;
    }

    /*quebra dos conteúdos*/

    .quebrainicio {
        background-color: #975578;
        width: 100%;
        height: 15px;
    }

    .quebra {
        background-color: #975578;
        width: 100%;
        height: 15px;
        margin-top: 45px;
    }

    /*configuração geral de todos os conteudos do site (com responsividade)*/
    .conteudo {
        margin-top: 50px;
        width: 100%;
    }

    /*os dois seletores abaixo serao copiados como base pra outros conteudos da pagina, ajuste o TOP DA DIV T para configurar o video de acordo com sua posição na pagina.*/


    .t1>iframe.gta6 {
        position: relative;
        top: 50%;
        left: 5%;
        width: 90%;
        height: 400px;

        margin-bottom: 20px;
    }

    .info {
        background-image: linear-gradient(#975578, #ffa768);

        border-radius: 10px;
        margin: auto;
        height: 50vh;
        width: 92%;
        text-align: center;
        color: white;
    }

    .t2>iframe.ds2 {
        position: relative;
        top: 50%;
        left: 5%;
        width: 90%;
        height: 400px;

        margin-bottom: 20px;
    }

    .info2 {
        background-image: linear-gradient(#8d0c0c, #db5b11);
        border-radius: 8px;
        margin: auto;
        height: 50vh;
        width: 92%;

        text-align: center;
        color: white;
    }

    .t3>iframe.wolwerine {
        position: relative;
        top: 50%;
        left: 5%;
        width: 90%;
        height: 400px;

        margin-bottom: 10px;
    }

    .info3 {
        background-image: linear-gradient(#000000, #ff974d);
        border-radius: 8px;

        margin: auto;

        height: 50vh;
        width: 92%;

        text-align: center;
        color: white;
    }

    .t4>iframe.blade {
        position: relative;
        top: 50%;
        left: 5%;
        width: 90%;
        height: 400px;

        margin-bottom: 10px;
    }

    .info4 {
        background-image: linear-gradient(rgb(71, 7, 7), #0a0101);
        border-radius: 8px;

        margin: auto;

        height: 50vh;
        width: 92%;

        text-align: center;
        color: white;
    }

    .t5>iframe.dragon {
        position: relative;
        top: 50%;
        left: 5%;
        width: 90%;
        height: 400px;

        margin-bottom: 10px;
    }

    .info5 {
        background-image: linear-gradient(#3f0e28, #fcacff);
        border-radius: 8px;

        margin: auto;

        height: 50vh;
        width: 92%;

        text-align: center;
        color: white;
    }

    .plataformas p {
        padding: 5px;
        margin: 0px;
    }

    .t6>iframe.monster {
        position: relative;
        top: 50%;
        left: 5%;
        width: 90%;
        height: 400px;

        margin-bottom: 10px;
    }

    .info6 {
        background-image: linear-gradient(#93cfdf, #ef9c54);
        border-radius: 8px;

        margin: auto;

        height: 50vh;
        width: 92%;

        text-align: center;
        color: white;
    }

    .t7>iframe.judas {
        position: relative;
        top: 50%;
        left: 5%;
        width: 90%;
        height: 400px;

        margin-bottom: 10px;
    }

    .info7 {
        background-image: linear-gradient(#5f1006, #39be5a);
        border-radius: 8px;

        margin: auto;

        height: 50vh;
        width: 92%;

        text-align: center;
        color: white;
    }

    .t8>iframe.marathon {
        position: relative;
        top: 50%;
        left: 5%;
        width: 90%;
        height: 400px;

        margin-bottom: 10px;
    }

    .info8 {
        background-image: linear-gradient(#72d7f3, #9ff58a);
        border-radius: 8px;

        margin: auto;

        height: 50vh;
        width: 92%;

        text-align: center;
        color: white;
    }

    .t9>iframe.instiction {
        position: relative;
        top: 50%;
        left: 5%;
        width: 90%;
        height: 400px;

        margin-bottom: 10px;
    }

    .info9 {
        background-image: linear-gradient(#2b2b2b, #000000);
        border-radius: 8px;

        margin: auto;

        height: 50vh;
        width: 92%;

        text-align: center;
        color: white;
    }

    .t10>iframe.sinking {
        position: relative;
        top: 50%;
        left: 5%;
        width: 90%;
        height: 400px;

        margin-bottom: 10px;
    }

    .info10 {
        background-image: linear-gradient(#c7c7c7, #20303a);
        border-radius: 8px;

        margin: auto;

        height: 53vh;
        width: 92%;

        text-align: center;
        color: white;
    }

    .t11>iframe.fatal {
        position: relative;
        top: 50%;
        left: 5%;
        width: 90%;
        height: 400px;

        margin-bottom: 10px;
    }

    .info11 {
        background-image: linear-gradient(#ec6627, #2f2e9b);
        border-radius: 8px;

        margin: auto;

        height: 50vh;
        width: 92%;

        text-align: center;
        color: white;
    }

    .t12>iframe.lis {
        position: relative;
        top: 50%;
        left: 5%;
        width: 90%;
        height: 400px;

        margin-bottom: 10px;
    }

    .info12 {
        background-image: linear-gradient(#6760ce, #b6b5b5);
        border-radius: 8px;

        margin: auto;

        height: 50vh;
        width: 92%;

        text-align: center;
        color: white;
    }

    .info h1,
    h2,
    .info2 h1,
    h2,
    .info3 h1,
    h2,
    .info4 h1,
    h2,
    .info5 h1,
    h2,
    .info6 h1,
    h2,
    .info7 h1,
    h2,
    .info8 h1,
    h2,
    .info8 h1,
    h2,
    .info9 h1,
    h2,
    .info10 h1,
    h2,
    .info11 h1,
    h2,
    .info12 h1,
    h2 {
        font: var(--font-h1);
        margin: 0px;
        padding-top: 10px;
        text-shadow: #0c0c0c 3px 3px 5px;
    }

    .info p,
    .info2 p,
    .info3 p,
    .info4 p,
    .info5 p,
    .info6 p,
    .info7 p,
    .info8 p,
    .info8 p,
    .info9 p,
    .info p,
    .info11 p,
    .info12 p {
        font: var(--font-p);
        text-shadow: #0c0c0c 3px 3px 5px;
        padding-bottom: 0px;
        margin: 3px;
    }

    .plataformas img {
        width: 42px;
        height: 42px;
    }

    .jogo img {
        height: 23vh;
        width: 60%;
    }

    .jogo img:hover {
        height: 24vh;
        width: 65%;
        box-shadow: 5px 5px 10px #00000091;
        cursor: pointer;
        transition-duration: 0.3s;
    }

}

/*COMPUTADORES*/

@media (min-width: 1200px) and (max-width:1380px) {


    .superior {
        background: url(imagens/gta6.jpg) bottom/cover no-repeat fixed;

        padding: 0px;
        width: 100%;
        height: 300px;
        margin: auto;
        color: rgb(255, 255, 255);
    }

    /*configuração interna do cabeçalho superior*/
    nav {
        background-color: #0c0c0c;
        padding: 15px;
        margin: 0px;
        border-radius: 0px;
    }

    /*tudo que esta dentro do cabeçalho superior*/
    .container {
        display: flex;
        align-items: center;
        justify-content: left;
    }

    .title {
        margin-right: 32vw;
        font: var(--font-h1);
        color: #b3973b;
    }

    .logo {
        height: 52px;
        width: 52px;
        margin-right: 35vw;
    }

    .contato {
        display: flex;
    }

    .contato img:hover {
        background-color: 10px 10px 30px rgb(122, 24, 24);
        height: 35px;
        width: 35px;
        transition-duration: 0.5s;
    }

    /*configuração do cabeçalho inferior*/
    nav.inf {
        background-color: #272727;
        margin-top: -8px;
        border-radius: 0px 0px 8px 8px;
        text-align: center;
    }

    nav.inf a {
        padding: 30px;
        text-decoration: none;
        color: #975578;
        font: var(--font-p);
    }

    nav.inf a:hover {
        padding: 10px;
        background-color: #975578;
        color: white;
        border-radius: 3px;
        transition-duration: 0.5s;
    }

    /*quebra dos conteúdos*/

    .quebrainicio {
        background-color: #975578;
        width: 100%;
        height: 15px;
    }

    .quebra {
        background-color: #975578;
        width: 100%;
        height: 15px;
        margin-top: 45px;
    }

    /*configuração geral de todos os conteudos do site (com responsividade)*/
    .conteudo {
        display: flex;
        margin-top: 80px;
    }

    /*os dois seletores abaixo serao copiados como base pra outros conteudos da pagina, ajuste o TOP DA DIV T para configurar o video de acordo com sua posição na pagina.*/


    .t1>iframe.gta6 {
        position: relative;
        top: 0%;
        left: 5%;
        width: 287%;
        height: 500px;

        margin-bottom: 20px;
    }

    .info {
        background-image: linear-gradient(#975578, #ffa768);

        border-radius: 10px;
        position: relative;
        top: 20%;
        left: 45%;
        height: 500px;
        width: 30%;
        text-align: center;
        color: white;
    }

    .t2>iframe.ds2 {
        position: relative;
        top: 0%;
        left: 5%;
        width: 287%;
        height: 500px;

        margin-bottom: 20px;
    }

    .info2 {
        background-image: linear-gradient(#8d0c0c, #db5b11);

        border-radius: 10px;
        position: relative;
        top: 20%;
        left: 45%;
        height: 500px;
        width: 30%;
        text-align: center;
        color: white;
    }

    .t3>iframe.wolwerine {
        position: relative;
        top: 0%;
        left: 5%;
        width: 287%;
        height: 500px;

        margin-bottom: 20px;
    }

    .info3 {
        background-image: linear-gradient(#000000, #ff974d);
        border-radius: 10px;
        position: relative;
        top: 20%;
        left: 45%;
        height: 500px;
        width: 30%;
        text-align: center;
        color: white;
    }

    .t4>iframe.blade {
        position: relative;
        top: 0%;
        left: 5%;
        width: 287%;
        height: 500px;

        margin-bottom: 20px;
    }

    .info4 {
        background-image: linear-gradient(rgb(71, 7, 7), #0a0101);
        border-radius: 10px;
        position: relative;
        top: 20%;
        left: 45%;
        height: 500px;
        width: 30%;
        text-align: center;
        color: white;
    }

    .t5>iframe.dragon {
        position: relative;
        top: 0%;
        left: 5%;
        width: 287%;
        height: 500px;

        margin-bottom: 20px;
    }

    .info5 {
        background-image: linear-gradient(#3f0e28, #fcacff);
        border-radius: 10px;
        position: relative;
        top: 20%;
        left: 45%;
        height: 500px;
        width: 30%;
        text-align: center;
        color: white;
    }

    .plataformas p {
        padding: 5px;
        margin: 0px;
    }

    .t6>iframe.monster {
        position: relative;
        top: 0%;
        left: 5%;
        width: 287%;
        height: 500px;

        margin-bottom: 20px;
    }

    .info6 {
        background-image: linear-gradient(#93cfdf, #ef9c54);
        border-radius: 10px;
        position: relative;
        top: 20%;
        left: 45%;
        height: 500px;
        width: 30%;
        text-align: center;
        color: white;
    }

    .t7>iframe.judas {
        position: relative;
        top: 0%;
        left: 5%;
        width: 287%;
        height: 500px;

        margin-bottom: 20px;
    }

    .info7 {
        background-image: linear-gradient(#5f1006, #39be5a);
        border-radius: 10px;
        position: relative;
        top: 20%;
        left: 45%;
        height: 500px;
        width: 30%;
        text-align: center;
        color: white;
    }

    .t8>iframe.marathon {
        position: relative;
        top: 0%;
        left: 5%;
        width: 287%;
        height: 500px;

        margin-bottom: 20px;
    }

    .info8 {
        background-image: linear-gradient(#72d7f3, #9ff58a);
        border-radius: 10px;
        position: relative;
        top: 20%;
        left: 45%;
        height: 500px;
        width: 30%;
        text-align: center;
        color: white;
    }

    .t9>iframe.instiction {
        position: relative;
        top: 0%;
        left: 5%;
        width: 287%;
        height: 500px;

        margin-bottom: 20px;
    }

    .info9 {
        background-image: linear-gradient(#2b2b2b, #000000);
        border-radius: 10px;
        position: relative;
        top: 20%;
        left: 45%;
        height: 500px;
        width: 30%;
        text-align: center;
        color: white;
    }

    .t10>iframe.sinking {
        position: relative;
        top: 0%;
        left: 5%;
        width: 287%;
        height: 500px;

        margin-bottom: 20px;
    }

    .info10 {
        background-image: linear-gradient(#c7c7c7, #20303a);
        border-radius: 10px;
        position: relative;
        top: 20%;
        left: 45%;
        height: 500px;
        width: 30%;
        text-align: center;
        color: white;
    }

    .t11>iframe.fatal {
        position: relative;
        top: 0%;
        left: 5%;
        width: 287%;
        height: 500px;

        margin-bottom: 20px;
    }

    .info11 {
        background-image: linear-gradient(#ec6627, #2f2e9b);
        border-radius: 10px;
        position: relative;
        top: 20%;
        left: 45%;
        height: 500px;
        width: 30%;
        text-align: center;
        color: white;
    }

    .t12>iframe.lis {
        position: relative;
        top: 0%;
        left: 5%;
        width: 287%;
        height: 500px;

        margin-bottom: 20px;
    }

    .info12 {
        background-image: linear-gradient(#6760ce, #b6b5b5);
        border-radius: 10px;
        position: relative;
        top: 20%;
        left: 45%;
        height: 510px;
        width: 30%;
        text-align: center;
        color: white;
    }

    .info h1,
    h2,
    .info2 h1,
    h2,
    .info3 h1,
    h2,
    .info4 h1,
    h2,
    .info5 h1,
    h2,
    .info6 h1,
    h2,
    .info7 h1,
    h2,
    .info8 h1,
    h2,
    .info8 h1,
    h2,
    .info9 h1,
    h2,
    .info10 h1,
    h2,
    .info11 h1,
    h2,
    .info12 h1,
    h2 {
        font: var(--font-h1);
        font-size: 30px;
        margin: 0px;
        padding-top: 0px;
        text-shadow: #0c0c0c 3px 3px 5px;
    }

    .info p,
    .info2 p,
    .info3 p,
    .info4 p,
    .info5 p,
    .info6 p,
    .info7 p,
    .info8 p,
    .info8 p,
    .info9 p,
    .info10 p,
    .info11 p,
    .info12 p {
        font: var(--font-p);
        text-shadow: #0c0c0c 3px 3px 5px;
        padding: 0px;
        margin-top: 10px;
    }

    .plataformas img {
        width: 42px;
        height: 42px;
    }

    .jogo img {
        height: 23vh;
        width: 60%;
    }

    .jogo img:hover {
        height: 24vh;
        width: 65%;
        box-shadow: 5px 5px 10px #00000091;
        cursor: pointer;
        transition-duration: 0.3s;
    }

}